*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(arka_resim1.jpg);
    font-family: sans-serif;
}

.manu-bar{
    background: rgb(107, 162, 197);
    text-align: center;
}

.manu-bar ul{
    display: inline-flex;
    list-style: none;
}

.manu-bar ul li{
    width: 150px;
    margin: 15px;
    padding: 15px;
}

.manu-bar ul li a{
    text-decoration: none;
    color: #fff;
}

.active, .manu-bar ul li:hover{
    background: #d4c995;
    border-radius: 10px;
    transition: 0.5ms;
    transition: inherit;
}

.manu-bar .fa-solid{
    margin-right: 8px;
}

.sub-menu-1{
    display: none;
    border-radius: 15px;
}

.manu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: rgb(107, 162, 197);
    margin-top: 15px;
    margin-left: -15px;
    font-size: 15px;
    padding-right: -5px;
    
}

.manu-bar ul li:hover .sub-menu-1 ul{
    display: inline-block;
}

.manu-bar ul li:hover .sub-menu-1 ul li{
    width: 140px;
    padding: 10px;
    border-bottom: 1px dotted white;
    background: transparent;
    text-align: left;
    border-radius: 0;
    cursor: pointer;
}

.manu-bar ul li:hover .sub-menu-1 ul li a:hover{
    color: yellow;
}

.manu-bar .sub-menu-1 .fa-solid{
    color: #fff;
    font-size: 16px;
    float: right;
}

.sub-menu-2{
    display: none;
    border-radius: 15px;
}

.hover-me:hover .sub-menu-2{
    display: block;
    position: absolute;
    margin-top: -40px;
    margin-left: 120px;
    background: rgb(107, 162, 197);
    padding-left: 10px;
}


